extends ../layouts/master_login
include ../../mixins/mixins

block content
  form.form-signin.form-horizontal
      h1 Error 404
      h2 Keep calm, it is only a 404
      p We still need to build these pages
      ul.nav.nav-pills
        li(role='presentation')
            a.btn-primary(href='/' id='btn') Lets go back home
