extends ../layouts/master_error
include ../../mixins/mixins

block content
  form.form-horizontal(ng-controller="FixingController", ng-init="routehome()")
      h1 Error 500
      h2 Well this is awkward...
      p The server went a little belly-up
      p
        code
            pre= err
      ul.nav.nav-pills
          li(role='presentation')
              a.btn-primary(href='/' id='btn') Lets go back home
