html(lang="en", ng-app="app")
    head
        title STO Online

        link(rel="stylesheet", href="/components/angular-bootstrap-colorpicker/css/colorpicker.min.css")
        link(rel="stylesheet", href="/components/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="/components/bootstrap-toggle/css/bootstrap-toggle.min.css")
        link(rel="stylesheet", href="/components/bootstrap3-dialog/dist/css/bootstrap-dialog.min.css")
        link(rel="stylesheet", href="/css/app.css")

    body.container-fluid.positionRelative(id='Navigation', ng-controller='nav-ctrl', ng-init='initnav()')
        nav.navbar.navbar-default.navbar-fixed-top
            .container-fluid
                .navbar-header
                    .navbar-brand
                        label STO Online
                .collapse.navbar-collapse(id="bs-example-navbar-collapse-1")
                    ul.nav.navbar-nav
                        li
                            a(href="/") Home
                        li
                            a(href="/rooms/view") Cubicles
                        li.dropdown
                            a(href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") Settings
                                span(class="caret")
                            ul.dropdown-menu
                                li
                                    a(href="/settings/doctors") Manage doctors
                                li
                                    a(href="/settings/therapists") Manage therapists
                                li
                                    a(href="/settings/rooms") Manage rooms
                                li
                                    a(href="/settings/users") Manage users

                    ul.nav.navbar-nav.navbar-right
                        if (u)
                            li.active
                                a(href="#") Signed in as !{u.name}
                            li
                                a(href="/logout") Log out
                        else
                            li
                                a(href="/login") Log in
        .row.container-fluid
            block content

        //- script(src="/bower_components/jquery/dist/jquery.min.js")
        script(src="/components/jquery/dist/jquery.min.js")
        script(src='/components/angular/angular.min.js')
        script(src='/components/angular-bootstrap/ui-bootstrap.min.js')
        script(src='/components/angular-bootstrap-colorpicker/js/bootstrap-colorpicker-module.min.js')
        script(src='/components/angular-route/angular-route.min.js')
        script(src="/components/bootstrap/dist/js/bootstrap.min.js")
        script(src='/components/bootstrap-toggle/js/bootstrap-toggle.min.js')
        script(src='/components/bootstrap3-dialog/dist/js/bootstrap-dialog.min.js')
        script(src="/components/angular-timer/dist/angular-timer.min.js")
        script(src='/components/moment/min/moment.min.js')
        script(src='/components/moment/min/locales.min.js')
        script(src='/components/humanize-duration/humanize-duration.js')

        script(src="/js/angular.js")
        script(src='/socket.io/socket.io.js')
        script(src='/components-manual/ng-socket-io/ng-socket-io.min.js')


