extends ../layouts/master-navigation
include ../../mixins/mixins

block content
    form(id='RoomView', ng-controller='rooms-ctrl', ng-init='initmanage()')
        .row
            each r in [1, 2, 3, 4, 5]
                .row
                    each c in [1, 2, 3, 4, 5, 6]
                        .col-sm-2
                            div(ng-repeat='room in rooms | filter:({column: ' + c + ', row: ' + r + '})')
                                div.room(data-toggle="modal", data-target="#manageRoom", ng-click="setModelOptions(room._id)", style='background-color:{{room.dcolour}}')
                                    h3 {{room.name}}
                                    .row
                                        .col-md-5
                                            span Type:
                                        .col-md-7
                                            b(ng-if='room.multipleBeds==true') Ward
                                            b(ng-if='room.multipleBeds==false') Cubicle
                                    .row
                                        .col-md-5
                                            span Beds:
                                        .col-md-7
                                            b {{room.beds.length}}

                            br
        .row
            .form-group
                ul.nav.nav-pills.pull-right
                    li(role='presentation')
                        input.btn.btn-success(type="button", value='Add new room', ng-click='setModelOptions()', data-toggle="modal", data-target="#manageRoom")
                    li(role='presentation')
                        input.btn.btn-primary(type="button", value="Back", ng-click='saveRooms()')



        .modal.fade#manageRoom
            .modal-dialog
                .modal-content.form-group.form-horizontal
                    .modal-header
                        h4.modal-title Manage Room: {{room.name}}
                    .modal-body
                        +ng-input-text('rName', 'Room name', 'room.name', 'Add a name for the room', false, false)
                        +ng-input-number('rColumn', 'Room column', 'room.column', 'Add the room to a column', false, false, 1, 6)
                        +ng-input-number('rRow', 'Room row', 'room.row', 'Add the room to a row', false, false, 1, 5)
                        +ng-input-checkbox('chkBox', 'Is a ward', 'room.multipleBeds', false, false)
                        +ng-input-toggle('rMultiRoom', 'Type', 'room.multipleBeds', 'Cubicle', 'Ward', 'default', 'default', 100, false, false)
                        .grouphead
                            h5 Beds
                        .groupbox
                            table.table.table-hover.table-responsive(id="beds-table" st-table='room.beds')
                                thead
                                    tr
                                        th
                                        th Name
                                        th Column
                                        th Row

                                tbody
                                    tr(ng-repeat="bed in room.beds")
                                        td
                                            input.btn.btn-warning(type="button", value='Remove', ng-click='removeBed(bed)')
                                        td
                                            +ng-input-text-min('bname', 'bed.name', 'Name', false, false)
                                        td
                                            +ng-input-text-min('bcolumn', 'bed.column', 'Display column', false, false)
                                        td
                                            +ng-input-text-min('brow', 'bed.row', 'Display row', false, false)
                                    tr
                                        td
                                            input.btn.btn-success(type="button", value='Add', ng-click='addBed()')
                                        td
                                        td
                                        td
                        br
                        //- p {{room}}

                    .modal-footer
                        ul.nav.nav-pills.pull-right
                            li(role='presentation')
                                input.btn.btn-primary(type="button", value="Save", ng-click='updateRoom()', data-dismiss="modal")
                            li(role='presentation')
                                input.btn.btn-default(type="button", value="Cancel", data-dismiss="modal")
                            li(role='presentation')
                                input.btn.btn-danger(type="button", value="Delete", ng-click='deleteRoom()', data-dismiss="modal")
                        //- span room {{room}}


