extends ../layouts/master-navigation
include ../../mixins/mixins

block content
    form(id='RoomView', ng-controller='rooms-ctrl', ng-init='initview()')
        //- .row(ng-if='loading==true')
        //-     h2 loading
        .row(ng-if='loading==false')
            each r in [1, 2, 3, 4]
                .row
                    each c in [1, 2, 3, 4, 5, 6]
                        .col-sm-2
                            div(ng-repeat='room in rooms | filter:({column: ' + c + ', row: ' + r + '})')

                                //- Wards
                                div.room(ng-if='room.multipleBeds==1', data-toggle="modal", data-target="#manageWard", ng-click="setModelOptions(room._id)", style='background: linear-gradient(#ccc, hsla(0,100%,100%,1))')
                                    h3 {{room.name}}

                                    //- Therapist list
                                    div.info_tag(ng-if='room.bedsView==0')
                                        .row(ng-if='room.therapists.length==0')
                                            .col-md-12
                                                span.info_empty Empty
                                    div.info_tag(ng-if='room.bedsView==0')
                                        .row(ng-if='room.therapists.length>0')
                                            .col-md-12
                                                span.info_empty(style='background-color:{{room.therapists[0].colour}}') {{room.therapists[0].name}}
                                    div.info_tag(ng-if='room.bedsView==0')
                                        .row(ng-if='room.therapists.length>1')
                                            .col-md-12
                                                span.info_empty(style='background-color:{{room.therapists[1].colour}}') {{room.therapists[1].name}}
                                    div.info_tag(ng-if='room.bedsView==0')
                                        .row(ng-if='room.therapists.length>2')
                                            .col-md-12
                                                span.info_empty(style='background-color:{{room.therapists[2].colour}}') {{room.therapists[2].name}}
                                    div.info_tag(ng-if='room.bedsView==0')
                                        .row(ng-if='room.therapists.length==4')
                                            .col-md-12
                                                span.info_empty(style='background-color:{{room.therapists[3].colour}}') {{room.therapists[3].name}}
                                    div.info_tag(ng-if='room.bedsView==0')
                                        .row(ng-if='room.therapists.length>4')
                                            .col-md-12
                                                span.info_empty + {{room.therapists.length - 3}} more

                                    //- Beds view
                                    div.info_tag(ng-if='room.bedsView==1')
                                        .row(ng-if='room.multipleBeds==1')
                                            .col-md-5
                                                span View:
                                            .col-md-7
                                                .row(ng-if='room.bedsView==1')
                                                    b.info Beds
                                                .row(ng-if='room.bedsView==0')
                                                    b.info Therapist list
                                        .row(ng-if='room.multipleBeds==1')
                                            .col-md-5
                                                span Beds:
                                            .col-md-7
                                                .row
                                                    b.info {{room.beds.length}}

                                //- Cubicles
                                div.room(ng-if='room.multipleBeds==0', data-toggle="modal", data-target="#manageCubicle", ng-click="setModelOptions(room._id)", style='background: linear-gradient(hsla(0,100%,100%,1), {{room.beds[0].dcolour}})')
                                    //- 'background:linear-gradient(down,{{room.beds[0].dcolour}},hsla(0,100%,90%,1))')
                                    h3 {{room.name}}

                                    //- Doctor
                                    div.info_tag
                                        .row
                                            .col-md-8
                                                b {{room.beds[0].dname}}
                                            .col-md-4
                                                .row(ng-if='room.beds[0].dname.length>3 && room.beds[0].doctor!="000000000000000000000000"')
                                                    //- red
                                                    b.info(ng-if='room.beds[0].doctorDone==false && room.beds[0].doctorStart==false && (room.dTimerType=="SSR" || room.dTimerType=="SDR")', style='background-color:hsla(0, 100%, 90%, 1)') NS

                                                    //- yellow

                                                    b.info(ng-if='room.beds[0].doctorDone==false && room.beds[0].doctorStart==true && room.dTimerType=="SSR" && room.beds[0].dtimeleft > 0', style='background-color:hsla(50, 80%, 90%, 1)')
                                                        timer(countdown='room.beds[0].dtimeleft' interval="1000")
                                                            span {{mminutes}}:{{sseconds}}
                                                    b.info(ng-if='room.beds[0].doctorDone==false && room.beds[0].doctorStart==true && room.dTimerType=="SSR" && room.beds[0].dtimeleft <= 0', style='background-color:hsla(50, 80%, 90%, 1)') 00:00
                                                    b.info(ng-if='room.beds[0].doctorDone==false && room.beds[0].doctorStart==true && room.dTimerType=="SDR"', style='background-color:hsla(50, 80%, 90%, 1)') Busy

                                                    //- green
                                                    b.info(ng-if='room.beds[0].doctorDone==true', style='background-color:hsla(100, 100%, 90%, 1)') Done


                                    //- Patient
                                    div.info_tag
                                        .row
                                            .col-md-12
                                                span.info_empty {{room.beds[0].patient}}

                                    //- Therapist
                                    div.info_tag
                                        .row
                                            .col-md-8
                                                span.info_empty(style='background-color:{{room.therapists[0].colour}}') {{room.therapists[0].name}}
                                            .col-md-4
                                                .row(ng-if='room.therapists.length>0 && room.therapists[0]._id!="000000000000000000000000"')
                                                    //- red
                                                    b.info(ng-if='room.beds[0].therapistDone==false && room.beds[0].therapistStart==false && (room.tTimerType=="SSR" || room.tTimerType=="SDR")', style='background-color:hsla(0, 100%, 90%, 1)') NS

                                                    //- yellow
                                                    b.info(ng-if='room.beds[0].therapistDone==false && room.beds[0].therapistStart==true && room.tTimerType=="SSR"', style='background-color:hsla(50, 80%, 90%, 1)')
                                                        timer(countdown='room.beds[0].ttimeleft' interval="1000")
                                                            span {{mminutes}}:{{sseconds}}
                                                    b.info(ng-if='room.beds[0].therapistDone==false && room.beds[0].therapistStart==true && room.tTimerType=="SDR"', style='background-color:hsla(50, 80%, 90%, 1)') Busy

                                                    //- green
                                                    b.info(ng-if='room.beds[0].therapistDone==true', style='background-color:hsla(100, 100%, 90%, 1)') Done

                                    //- Sister
                                    div.info_tag
                                        .row
                                            .col-md-8
                                                span.info_empty Sister
                                            .col-md-4
                                                .row
                                                    //- red
                                                    b.info(ng-if='room.beds[0].sisterDone==false && room.beds[0].sisterStart==false && (room.sTimerType=="SSR" || room.sTimerType=="SDR")', style='background-color:hsla(0, 100%, 90%, 1)') NS

                                                    //- yellow
                                                    b.info(ng-if='room.beds[0].sisterDone==false && room.beds[0].sisterStart==true && room.sTimerType=="SSR"', style='background-color:hsla(50, 80%, 90%, 1)') 00:12
                                                    b.info(ng-if='room.beds[0].sisterDone==false && room.beds[0].sisterStart==true && room.sTimerType=="SDR"', style='background-color:hsla(50, 80%, 90%, 1)') Busy

                                                    //- green
                                                    b.info(ng-if='room.beds[0].sisterDone==true', style='background-color:hsla(100, 100%, 90%, 1)') Done
                                    //- .row
                                        //- span {{room}}

        .modal.fade#manageCubicle
            .modal-dialog
                .modal-content.form-group.form-horizontal
                    .modal-header
                        h4.modal-title Manage {{room.name}}
                    .modal-body
                        .grouphead
                            h5
                                span Docter&nbsp;
                                span(ng-if='room.docterDone==true && room.docterStart==true') - Done
                                span(ng-if='room.docterDone==false && room.docterStart==false') - NS
                                span(ng-if='room.docterDone==false && room.docterStart==true') - Busy
                        .groupbox
                            .form-group
                                .row
                                    .col-sm-5
                                        +ng-input-combobox-min('doc', 'room.beds[0].doctor', 'Select a doctor', 'doctor._id as doctor.name for doctor in doctors', false, false, 'doctherChange()')
                                    .col-sm-2(ng-if='room.dTimerType!="SSR"')
                                    .col-sm-2(ng-if='room.dTimerType=="SSR"')
                                        +ng-input-combobox-min('docDuration', 'room.beds[0].doctorDuration', 'Select a duration', 'o as o for o in intervals.doctors', false, false)
                                    .col-sm-5
                                        ul.nav.nav-pills
                                            li(role='presentation', ng-if='(room.dTimerType=="SSR" || room.dTimerType=="SDR") && (room.beds[0].doctorDone==true || room.beds[0].doctorStart==false)')
                                                input.btn.btn-success(type="button", value="Start", ng-click='dstart(room.beds[0]._id)', data-dismiss="modal")
                                            li(role='presentation', ng-if='room.dTimerType=="SSR" && room.beds[0].doctorDone==false && room.beds[0].doctorStart==true')
                                                input.btn.btn-danger(type="button", value='Stop', ng-click='dstop(room.beds[0]._id)', data-dismiss="modal")
                                            li(role='presentation', ng-if='room.dTimerType=="SDR" && room.beds[0].doctorDone==false && room.beds[0].doctorStart==true')
                                                input.btn.btn-danger(type="button", value='Done', ng-click='dstop(room.beds[0]._id)', data-dismiss="modal")
                                            li(role='presentation', ng-if='room.dTimerType=="DR" && room.beds[0].doctorDone==false')
                                                input.btn.btn-danger(type="button", value='Done', ng-click='dstop(room.beds[0]._id)', data-dismiss="modal")
                                            li(role='presentation', ng-if='room.beds[0].doctorDone==true || room.beds[0].doctorStart==true')
                                                input.btn.btn-default(type="button", value='Reset', ng-click='dreset(room.beds[0]._id)', data-dismiss="modal")
                        br
                        .grouphead
                            h5 Patient
                        .groupbox
                            .form-group
                                .row
                                    .col-sm-7
                                        +ng-input-text-min('pname', 'room.beds[0].patient', 'Add the patients name', false, false)

                        br
                        .grouphead
                            h5
                                span Therapist&nbsp;
                                span(ng-if='room.therapistDone==true && room.therapistStart==true') - Done
                                span(ng-if='room.therapistDone==false && room.therapistStart==false') - NS
                                span(ng-if='room.therapistDone==false && room.therapistStart==true') - Busy
                        .groupbox
                            .form-group
                                .row
                                    .col-sm-5
                                        +ng-input-combobox-min('ther', 'room.therapists[0]', 'Select a therapist', 'ther._id as ther.name for ther in therapists', false, false, 'doctherChange()')
                                    .col-sm-2(ng-if='room.tTimerType!="SSR"')
                                    .col-sm-2(ng-if='room.tTimerType=="SSR"')
                                        +ng-input-combobox-min('therDuration', 'room.beds[0].therapistDuration', 'Select a duration', 'o as o for o in intervals.therapists', false, false)
                                    .col-sm-5
                                        ul.nav.nav-pills
                                            li(role='presentation', ng-if='(room.tTimerType=="SSR" || room.tTimerType=="SDR") && (room.beds[0].therapistDone==true || room.beds[0].therapistStart==false)')
                                                input.btn.btn-success(type="button", value="Start", ng-click='tstart(room.beds[0]._id)', data-dismiss="modal")
                                            li(role='presentation', ng-if='room.tTimerType=="SSR" && room.beds[0].therapistDone==false && room.beds[0].therapistStart==true')
                                                input.btn.btn-danger(type="button", value='Stop', ng-click='tstop(room.beds[0]._id)', data-dismiss="modal")
                                            li(role='presentation', ng-if='room.tTimerType=="SDR" && room.beds[0].therapistDone==false && room.beds[0].therapistStart==true')
                                                input.btn.btn-danger(type="button", value='Done', ng-click='tstop(room.beds[0]._id)', data-dismiss="modal")
                                            li(role='presentation', ng-if='room.tTimerType=="DR" && room.beds[0].therapistDone==false')
                                                input.btn.btn-danger(type="button", value='Done', ng-click='tstop(room.beds[0]._id)', data-dismiss="modal")
                                            li(role='presentation', ng-if='room.beds[0].therapistDone==true || room.beds[0].therapistStart==true')
                                                input.btn.btn-default(type="button", value='Reset', ng-click='treset(room.beds[0]._id)', data-dismiss="modal")
                        br
                        .grouphead
                            h5
                                span Sister&nbsp;
                                span(ng-if='room.sisterDone==true && room.sisterStart==true') - Done
                                span(ng-if='room.sisterDone==false && room.sisterStart==false') - NS
                                span(ng-if='room.sisterDone==false && room.sisterStart==true') - Busy
                        .groupbox
                            .form-group
                                .row
                                    .col-sm-5
                                    .col-sm-2(ng-if='room.sTimerType!="SSR"')
                                    .col-sm-2(ng-if='room.sTimerType=="SSR"')
                                        +ng-input-combobox-min('sistDuration', 'room.beds[0].sisterDuration', 'Select a duration', 'o as o for o in intervals.sisters', false, false)
                                    .col-sm-5
                                        ul.nav.nav-pills
                                            li(role='presentation', ng-if='(room.sTimerType=="SSR" || room.sTimerType=="SDR") && (room.beds[0].sisterDone==true || room.beds[0].sisterStart==false)')
                                                input.btn.btn-success(type="button", value="Start", ng-click='sstart(room.beds[0]._id)', data-dismiss="modal")
                                            li(role='presentation', ng-if='room.sTimerType=="SSR" && room.beds[0].sisterDone==false && room.beds[0].sisterStart==true')
                                                input.btn.btn-danger(type="button", value='Stop', ng-click='sstop(room.beds[0]._id)', data-dismiss="modal")
                                            li(role='presentation', ng-if='room.sTimerType=="SDR" && room.beds[0].sisterDone==false && room.beds[0].sisterStart==true')
                                                input.btn.btn-danger(type="button", value='Done', ng-click='sstop(room.beds[0]._id)', data-dismiss="modal")
                                            li(role='presentation', ng-if='room.sTimerType=="DR" && room.beds[0].sisterDone==false')
                                                input.btn.btn-danger(type="button", value='Done', ng-click='sstop(room.beds[0]._id)', data-dismiss="modal")
                                            li(role='presentation', ng-if='room.beds[0].sisterDone==true || room.beds[0].sisterStart==true')
                                                input.btn.btn-default(type="button", value='Reset', ng-click='sreset(room.beds[0]._id)', data-dismiss="modal")
                        br
                    .modal-footer
                        ul.nav.nav-pills.pull-right
                            li(role='presentation')
                                input.btn.btn-primary(type="button", value="Save", ng-click='saveRoom(true)')
                            li(role='presentation')
                                input.btn.btn-primary(type="button", value="Save & exit", ng-click='saveRoom(false)', data-dismiss="modal")
                            li(role='presentation')
                                input.btn.btn-default(type="button", value="Reset room", ng-click='resetRoom(room.beds[0]._id)', data-dismiss="modal")
                        //- br
                        //- .row
                        //-     code {{room}}

        .modal.fade#manageWard
            .modal-dialog
                .modal-content.form-group.form-horizontal
                    .modal-header
                        h4.modal-title Manage {{room.name}}
                    .modal-body
                        //- span {{room.therapists}}
                        .grouphead
                            h4 Manage Therapists
                        .groupbox
                            table.table.table-hover.table-responsive(id="therpist-table" st-table='room.therapists')
                                thead
                                    tr
                                        th
                                        th Therapists

                                tbody
                                    tr(ng-repeat="therapist in room.therapists")
                                        td
                                            input.btn.btn-warning(type="button", value='Remove', ng-click='removeTherapist($index)')
                                        td
                                            +ng-input-combobox-min('ther', 'room.therapists[$index]', 'Select a therapist', 'ther._id as ther.name for ther in therapistList', false, false, 30, 'addTherapist()')
                                    tr
                                        td
                                            input.btn.btn-success(type="button", value='Add', ng-click='addTherapist()')
                                        td
                        br
                    .modal-footer
                        ul.nav.nav-pills.pull-right
                            //- li(role='presentation')
                            //-     input.btn.btn-primary(type="button", value="Save", ng-click='saveRoom(true)')
                            li(role='presentation')
                                input.btn.btn-primary(type="button", value="Save & exit", ng-click='saveRoom(false)', data-dismiss="modal")
                            li(role='presentation')
                                input.btn.btn-default(type="button", value="Reset room", ng-click='resetRoom(room.beds[0]._id)', data-dismiss="modal")
                        //- br
                        //- .row
                        //-     code {{room}}

