/* line 10, css/app */
.box {
  color: #fe33ac;
  border-color: #fdcdea;
}
/* line 13, css/app */
.box div {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
/* line 16, css/app */
.positionRelative {
  position: relative;
  padding-top: 70px;
}
/* line 21, css/app */
.grouphead {
  background-color: #C6D6CC;
  margin-top: 3px;
  margin-left: 3px;
  margin-right: 3px;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 5px 5px 0px 0px;
  border: 1px solid #98B3AE;
}
/* line 33, css/app */
.groupbox {
  margin-left: 3px;
  margin-right: 3px;
  margin-bottom: 3px;
  padding: 7px;
  border-radius: 0px 0px 5px 5px;
  border: 1px solid #98B3AE;
}
/* line 42, css/app */
.form-group {
  margin-left: 6px;
  margin-right: 6px;
  padding-left: 14px;
  padding-right: 14px;
}
/* line 49, css/app */
.room {
  border-radius: 10px;
  box-shadow: 2px 2px 5px grey;
  border-style: solid;
  border-width: 1px;
  margin: 5px;
  padding: 5px;
}
/* line 59, css/app */
.docter {
  border-radius: 15px 30px 50px 15px;
  box-shadow: 2px 2px 5px grey;
  border-style: solid;
  border-width: 1px;
  margin: 5px;
  padding: 5px;
}
/* line 68, css/app */
.therapist {
  border-radius: 15px 50px 30px 15px;
  box-shadow: 2px 2px 5px grey;
  border-style: solid;
  border-width: 1px;
  margin: 5px;
  padding: 5px;
}
/* line 77, css/app */
.sister {
  border-radius: 15px 50px 30px 15px;
  box-shadow: 2px 2px 5px grey;
  border-style: solid;
  border-width: 1px;
  margin: 5px;
  padding: 5px;
}
