extends ../layouts/master-navigation
include ../../mixins/mixins

block content
    form(id='doctersManage', ng-controller='rooms-ctrl', ng-init='initdocters()')
        .row
            .col-md-2.col-sm-1
            .col-md-8.col-sm-10
                .grouphead
                    h4 Manage Docters
                .groupbox
                    table.table.table-hover.table-responsive(id="docters-table" st-table='docterscopy')
                        thead
                            tr
                                th
                                th Name
                                th Colour

                        tbody
                            tr(ng-repeat="row in docterscopy")
                                td
                                    input.btn.btn-warning(type="button", value='Remove', ng-click='removed($index)')
                                td
                                    +ng-input-text-min('dname', 'row.name', 'Add the docters name', false, false)
                                td
                                    +ng-input-color-min('dcolour', 'row.colour', 'Add a colour for the docter', false, false)
                            tr
                                td
                                    input.btn.btn-success(type="button", value='Add', ng-click='addd()')
                                td
                                td

        br
        .row
            .col-md-2.col-sm-1
            .col-md-8.col-sm-10
                .form-group
                    ul.nav.nav-pills.pull-right
                        li(role='presentation')
                            input.btn.btn-primary(type="button", value="Save", ng-click='saveDocters()')
